/*Added by BC STAFF Case 02289318 CP*/
.productAttributes label, .productAttributes span {
    white-space: normal;
}
/*End Case 02289318*/
/* CJ | Jan.15,2016 | 02341329 */
#FeaturedVideo object embed {
    float: none;
    clear: both;
    border: 0px solid #F00;
    padding-bottom: 15px;
    height: 500px;
    width: 100%;
}
/* END  02341329 */
