@media screen and (max-width: 1224px) {
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner,.FeaturedProducts, .testimonial, .NewProducts, .TopSellers,.tm_row.content-main
{ max-width:990px;}

#FooterUpper .Column.contact { width:240px;}
#FooterUpper .Column { width:230px;}
.ProductList .ProductImage img, #ProductDetails .ProductThumbImage img { width:100%;}
#LayoutColumn1 { width:735px;}
.CategoryDescription img {    max-width: 100%;}
.left-content ,.CartCode .CouponCode, .CartCode .GiftCertificate{ width:45%;}
.PrimaryProductDetails .ProductMain { width:55%;}
.banner_home_page_top { overflow:hidden;}
.Block.BlockContent.banner_home_page_top a:first-child {    float: left;}
.Block.BlockContent.banner_home_page_top a {    float: right;    width: 49%;}
.banner_home_page_top a img { width:100%;}
.cms1_header .right_part { width:59%; }
.cms2_header .right_part { width:40%; text-align:left;}
.cms1_header { width:44%;}
.ProductList .ProductImage,
.brand-img, #ProductDetails .ProductThumbImage { width:auto;}
#ProductDetails .ProductTinyImageList{ width:82% !important;}

}

/* 1024px */
@media screen and (max-width: 1024px) {

    /* Hide */
    .productOptionPreviewDisplay,
    .ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
        display: none !important;
    }
    /* Show */
#LayoutColumn1 { width:695px;}
    /* Layout */
	#FooterUpper .Column.contact { margin-right:20px;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner,.FeaturedProducts, .testimonial, .NewProducts, .TopSellers,.tm_row.content-main
{ max-width:940px;}
  #FooterUpper .Column { width:210px;}
  .NewsletterSubscription input { width:auto;}
  .Left, .Right { padding-right:20px;}
    .AddBillingAddress dd,
    .AddShippingAddress dd {
        margin-left: 180px;
        float: none;
    }
.left-content { width:47%;}
.PrimaryProductDetails .ProductMain { width:53%;}
.CategoryDescription img {
    width: 100%;
}
    .PurchaseGiftCertificate .FormContainer dt {
        text-align: left;
        width: auto;
        clear: both;
        float: none;
        padding: 0 0 10px 0;
    }
    
    .PurchaseGiftCertificate .FormContainer dd {
        padding: 0;
        margin: 0 0 20px 0;
    }

      .cms1_header .left_part { padding:0 15px 0 0 ;}
	  .cms2_header .left_part { padding-right:10px;}
	    /* Cart Styling */

    .ExpressCheckoutContent {

        margin-bottom: 20px;
    }

    .ExpressCheckoutContent > div {
        margin-bottom: 20px;
    }
}

/* 1000px */
@media screen and (max-width: 980px) {

    /* Hide */

    /* Show */

    /* Layout */
.Responsive_Menu {
    display: block;
}
    #home .ProductList li,
    .productPage .ProductList li {
      
    }
	.NewsletterSubscription input { width:150px;}
	#LayoutColumn1 { width:515px;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner,.FeaturedProducts, .testimonial, .NewProducts, .TopSellers,.tm_row.content-main
{ max-width:724px;}
    .ProductList li {
        width: 50%;
    }
	#FooterUpper .Column,#FooterUpper .Column.contact {
    margin: 0 0px 10px;
    padding: 0;
    position: relative;
    width: 100%;
}
.bottomcms .shipment .item {
    padding: 0 0 0 20px;
}
.bottomcms .image { margin-right:15px;}
.offer-slider-inner { padding:15px 25px 30px;}
.footer #SideNewsletterBox { float:none; margin-right:0;}
.NewsletterSubscription label { clear:both; padding:5px 0 5px; }
.NewsletterSubscription input.btn { clear:	both;} 
.footer-area.Block h2 { margin-bottom:0; margin-top:0; line-height:22px; padding:0 0 5px;}
.footer-area.Block {
    margin-bottom: 0;
}
.Left { width:190px; padding-right:15px;}
.Left .ProductList .ProductImage, .Right .ProductList .ProductImage { width:60px; margin-right:0;}

.PageMenu .CategoryList { display:none;}
 #FooterUpper .BlockContent {
    display: none; margin-top:10px;
}

.CartCode .CouponCode, .CartCode .GiftCertificate { width:95%; margin:5px 0;}
#ProductDetails .ProductTinyImageList { width:80% !important;}
#ProductDetails .ProductTinyImageList ul li { margin:0 4px;}
.ProceedToCheckout { margin-bottom:10px;}
 .toggle .mobile_togglemenu {

    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 0;
    width: 100%;
}
.last.CartLink.menucart { float:none; text-align:center; margin:0;}
.icon { float:none; display:inline-block;}
.TopMenu ul { text-align:center;}
.TopMenu li.account { border-left:1px solid #ccc; float:left;}
.TopMenu li,.TopMenu li.currancy,.TopMenu li.account {}
.header-logo {  clear:both;}
.testimonial h2 { text-align:center;}

.cms1_header .left_part,.cms2_header .left_part { float:none; margin:0 auto;}
.cms1_header .right_part ,.cms2_header .right_part{ width:90%; clear:both; text-align:left;}
.PageMenu { border:none; box-shadow:none;}
.CreateAccount ,.AccountLogin{ width:93%; float:left;}
table thead tr th, table.General thead tr th, table.CartContents thead tr th, table tbody tr td, table.General tbody tr td, table.CartContents tbody tr td { padding: 5px;}
}

/* 768px */
@media screen and (max-width: 768px) {
.CurrencyChooser { margin-top:0;}
.Search { display:none;}
#SearchForm input { width:98%; padding:0 25px 0 10px;}
#SearchForm .Button { top:9px;}
.searchtoggle {
    float: right; display:block !important;
    margin: 0;
    position: static;
    width: 99%;
}
.cms1_header .right_part ,.cms2_header .right_part{ width:98%; clear:both; text-align:center; margin:0 auto; float:none;}
.resouter #SearchForm {
    display: block;
}
.cms2_header .right_part .name_img { text-align:center;}
.bottomblock ul.home-features li { margin:0 0 50px auto;}
.ProductList .ProductActionAdd, .RemoveFromWishlistForm { opacity:1; visibility:visible; position:static; margin-top:15px;}
    /* Hide */
.Left .mobile_togglecolumn, .Right .mobile_togglecolumn, .toggle .mobile_togglemenu {

    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 100%;
}
#SearchForm { width:100%; margin:10px 0 10px;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner
{ width:auto; margin:0 15px;}
.cms1_header,.cms2_header {    width: 98%; padding:0}
.cms2_header .cms_slider { padding:10px;}
.FeaturedProducts,.tm_row.content-main ,.NewProducts, .TopSellers { width:auto;}

.block_hover { width:100%; background:none;
position:static; opacity:1; visibility:visible;

} 
.ProductList .btn, .ProductList .btn:hover {}
    #ProductBreadcrumb,
    .footer-columns .SocialConnect,
    .newsletter-subscription,
    .productlist-page .Left {
      
    }
#LayoutColumn1 { width:100%;}
    .Left {
        float: none;
        width: auto;
		clear:both;
		padding:0;
    }

    .CartContents > thead,
    .CartContents .CartThumb,
    .CartContents .CartItemIndividualPrice {
        display: none !important;
    }
.offer-text { padding:15px 0;}
.offer-slider-inner { width:287px; margin:0 auto;}
.tm_column.column_container { width:100%;}
    #ModalContainer .fastCartThumb,
    #ModalContainer .fastCartItemBox div,
    #ModalContainer .Quantity,
    #ModalContainer .fastCartBottom {
        display: none !important;
    }

    /* Show */

    /* Layout */

    #home .ProductList li,
    .productPage .ProductList li {
	width:50%;
     
    }
.testimonial .product-block { margin:10px 5px;}
    .ProductList li {

    }

    #ProductDetails .left-content {
        float: none;
        width: auto;
    }

    .PrimaryProductDetails .ProductMain {
        float: none;
        padding: 0 0 20px 0;
        width: auto;
    }

    .footer-columns .grid__item {
        text-align: center;
        width: 33.333333%;
    }

    #AjaxLoading {
        background-color: rgba(0,0,0,.7);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #AjaxLoading .ajax-loader {
        position: absolute;
        margin-top: -16px;
        top: 50%;
        right: 0;
        left: 0;
    }

    #ModalOverlay {
        background-color: #000;
        opacity: 0.7 !important;
    }

    .productlist-page .CategoryContent {
        padding: 0;
    }

    .fastCartThumb,
    .fastCartItemBox,
    .fastCartSummaryBox {
        float: none;
        width: 100%;
    }

    #ModalContainer {
        background-color: #fff;
        top: 10px !important;
        right: 10px !important;
        bottom: 10px !important;
        left: 10px !important;
        width: auto !important;
        margin-left: 0 !important;
    }

    #ModalContainer .fastCartTop {
        padding: 0;
    }

    #ModalContainer .fastCartItemBox {
        padding: 0;
        text-align: center;
    }

    #ModalContainer .fastCartSummaryBox {
        margin: 0 auto;
        float: none;
        overflow: hidden;
    }

    .login-form .one-half {
        width: 100%;
    }

    .login-form .CreateAccount {
        margin-bottom: 20px;
    }

    .header-secondary {
        clear: both;
	position:static;
		width:100%;
    }

    
.Search { display:none;}

    .header-secondary .QuickSearch {
        border-top-width: 0 !important;
    }
	


    /* Multipage Cart Styling */
    
    .TabNav {

        margin: 0;
        padding: 0;
        font-size: 0;
    }

    .TabNav li {
        width: 100%;
        text-align: center;
		margin:0;
    }

    .TabNav li a {
        box-sizing: border-box;
        margin: 0;
		border-bottom:3px solid transparent;
    }
	

.header-logo img {
    max-width: 100%;
}

.prodleft {
    float: left;
    margin-right: 10px;
}
.Left .ProductList .prodright { float:left;}
	.Left .BlockContent, .Right .BlockContent { display:none;}
	.Left #SideNewsletterBox, .Left #SideCategoryList, .Left #SideShopByBrand, .Left #HomeRecentBlogs, .Left #SideAccountMenu, .Left #GiftCertificatesMenu, .Left .Block { margin-bottom:10px;
	margin-left:0; margin-right:0;}
	
#Responsive_TopMenu {
    position: relative;
	display:block;
}
#Responsive_TopMenu ul {
    width: 180px;
	color:#888;
}
#Responsive_TopMenu .HeaderLiveChat { margin:0 !important; padding:0 !important; border:none;}
#currency-chooser, #Responsive_TopMenu, .header-cart {

    margin:15px 0px;
    padding: 0;
   float:left;
  width:100%;
    z-index: 999;
}
.last.CartLink.menucart { display:none;}
.resouter {
    margin: 0 15px;
}
.tm_topmenu_inner {
    float: left;
    width: 33%;
}
.currency-converter { padding:11px 0;}
#Responsive_TopMenu .currancy,#Responsive_TopMenu .CartLink {
    float: left;
    width: 33%;
	border-left:1px solid #CCCCCC;
	text-align:center;
}
.TopMenu { display:none;}
#Header { z-index:99; margin-bottom:20px;}

#Responsive_TopMenu .CartLink .icon {
    display: none;
}
#Responsive_TopMenu .CartLink > a {
   
    float: left;
    font-size: 0;
    height: 20px;
    padding:10px 0;
    text-align: center;
    width: 100%;
}
 #currency-chooser, #Responsive_TopMenu, .header-cart {
    background:none repeat scroll 0 0 #F9FAFA;
}
.header-secondary { top:65px;}

}
@media screen and (max-width: 730px) {.bottomcms .shipment .item { padding:10px 0 0 ; border:none;}
.bottomcms .shipment.ship,.bottomcms .shipment,.bottomcms .shipment.ship2 { width:100%;} }



/* 600px */
@media screen and (max-width: 600px) {

    /* Hide */

    #shareDescription {
        display: none;
    }

    /* Show */

    /* Layout */

    .ProductList li
   {
        width: 50%;
    }

    .addto .BulkDiscount,
    .addto #SideProductAddToWishList {
        display: block;
    }

    .CartCode .CouponCode,
    .CartCode .GiftCertificate {
        float: none;
        width: auto;
    }

    .ProceedToCheckout,
    .KeepShopping {
        text-align: center;
    }

    /* Adjusting the size of the swatches for smaller screens */

    .productOptionViewRectangle .option label {
        padding: 0 !important;
        line-height: 60px;
        height: 60px;
        width: 60px;
    }

    .productOptionPickListSwatch .textureContainer,
    .productOptionPickListSwatch .swatchColours {
        display: block !important;
    }

    .productOptionPickListSwatch .thumbnail,
    .productOptionPickListSwatch .swatchColour {
        display: block !important;
        height: 60px !important;
        width: 60px !important;
    }

    .productOptionPickListSwatch li {
        display: inline-block !important;
    }

    #tabcontent .photo {
        float: none;
        margin: 0;
        width: auto;
    }
    
    .BillingDetails,
    .ShippingDetails {
        width: 100%;
        float: none;
        margin-right: 0;
        padding-top: 15px;
    }

    .ShippingAddressList li {
        width: 50%;
    }

    .CartContents tfoot .CheckoutRedeemCoupon {
        text-align: left;
    }

    .CartContents tfoot .CheckoutRedeemCoupon td {
        padding: 0;
    }
	.currency-converter { font-size:0;}
.currency-converter span { font-size:13px;}

}

/* 480px */
@media screen and (max-width: 480px) {

    /* Hide */
    .TopMenu,
    .PageMenu,
    .QuickViewBtn,
    .ProductList .ProductActionAdd,
    .footer-columns .BrandList,
    .footer-columns .CategoryList,
    .footer-columns .SocialConnect,
    .sf-menu li > ul,
    .productlist-page .Left,
    .ProductCompareButton,
    .CompareButton {
      
    }
    .offer-slider-inner {  width:73%;}
    /* Show */
  .tm_column.column_container .service { padding:10px 40px;}
  
#ProductDetails .ProductTinyImageList { width:69% !important;}
    #ToggleMenu,
    #cart-amount {
    
    }
	#ProductDetails .ProductThumbImage { margin:0 auto;}
	.tabs_tab_features {
    margin-top: 20px;
	display:block !important;
}

.bottomblock h2 { display:block;}
.bottomblock h2 span { display:none;}
	.bottomblock ul.home-features a { width:80%; margin:0;}
.bottomblock ul.home-features li {
    margin: 0 0 20px auto;
	width:100%;
}
 #ToggleMenu { display:none;}
    /* Layout */
    .flex-control-nav { display:none;}
    /* increasing input font sizes to avoid some zoom by webkit browsers */
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    textarea,
    select {
        font-size: 16px !important;
    }

    .btn,
    textarea,
    input[type="text"],
    input[type="password"],
    input.Textbox {
     
    }

    select,
    div.selector /* For uniform */ {
        margin-bottom: 20px;
    }


    .ProductList li,
    #home .ProductList li,
    .productPage .ProductList li {
        width: 50%;
    }

    .TopMenu > .inner,
     #Header > .inner,
    .PageMenu > .inner,
    .main > .inner,
    .footer-main > .inner,
    .footer-links > .inner,
    .newsletter-subscription > .inner {
        width: auto;
    }
    
   .ProductList.List .ProductDetails { clear:both;}
    
    
    
    .header-secondary .currency-converter {
        display: none;
    }
    
    .header-secondary #SearchForm {
        float: none;
    }

    
    .header-secondary #SearchForm input.Button {
        background-color: transparent;
        position: absolute;
        border: 0;
        height: 100%;
    }

  
    
    .header-logo h1 {
        padding: 0;
    }
    
    #cart-amount {
        vertical-align: middle;
        width: 60px;
    }

    #cart-amount .Cart {
        font-weight: bold;
        padding: 1em 0px;
        display: table-cell;
        text-align: center;
        width: 60px;
        position: relative;
    }

    #cart-amount .Cart .total {
        display: inline-block;
        box-sizing: border-box;
        padding: 4px 5px;
        margin: 0 auto;
        min-width: 25px;
        height: 25px;
    }

    #cart-amount .Cart .bag-handle {
        border-bottom: 0;
        position: absolute;
        top: 8px;
        left: 24px;
        height: 4px;
        width: 8px;
        border-radius: 7px 7px 0px 0px;
    }
    
    .PageMenu .inner {

        padding: 0;
    }
    
    .PageMenu ul {
        display: block;
    }
    
    .PageMenu .CategoryList {
        padding: 0;
    }
    
    .PageMenu .pages-menu {
        display: none;
    }

    .PageMenu li {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #efefef;
    }

    .PageMenu a {
        padding: 1em;
        font-size: 1.2em;
    }
    
    .SubCategoryList {
        padding: 0;
        margin-bottom: 0;
    }

   
    #fastCartContainer {
        max-height: none;
    }
    .footer-columns .grid__item,
    .CartCode .grid__item {
        width: 100%;
    }

    /* Form Styling */
    .form dt,
    .FormContainer dt {
        text-align: left;
        width: auto;
        clear: both;
        float: none;
        padding: 0;
    }
    
    .form dd,
    .FormContainer dd {
        padding: 0;
        margin: 0;
    }
    
    #fancy_outer {
        z-index: 110 !important;
    }

    #fancy_overlay {
        z-index: 105 !important;
    }

    #fancy_content h1 {
        font-size: 22px;
    }
    
    .footer-links {
        text-align: center;
    }

    .footer .powered-by {
        float: none;
        display: block;
        margin-top: 10px;
    }

    .LittleNotePassword {
        padding: 0;
        margin-bottom: 20px;
    }

    /* Cart Styling */

    table.CartContents tbody tr td {
        padding: 10px 8px;
    }
    
    .CartCode .grid__item {
        width: 100%;
    }
    
    .CartCode .GiftCertificate input,
    .CartCode .CouponCode input {
        margin-bottom: 20px;
    }

    #CartContent .FloatRight,
    #CartContent .FloatLeft,
    .ExpressCheckoutContent .FloatLeft,
    .ExpressCheckoutContent .FloatRight
    #ConfirmOrder .FloatLeft,
    #ConfirmOrder .FloatRight {
        float: none;
    }

    .PayPalExpressCheckout {
        text-align: center;
        padding: 1em 0;
    }

    .AddBillingAddress dd, .AddShippingAddress dd {
        padding: 0 !important;
        float: none;
        width: auto;
    }
	#tmcmsblock .description-left { width:100%;}
#tmcmsblock .image-right { width:100%; text-align:center;}
    .ShippingAddressList li {
        width: 100%;
    }

	.bottomblock ul.home-features { display:none;}
}

@media screen and (max-width: 319px) { 

.ProductList li, #home .ProductList li, .productPage .ProductList li { width:100%;}
}