@import url("https://fonts.googleapis.com/css?family=Audiowide%7CFreckle+Face%7CExo+2%7CHammersmith+One%7CCeviche+One%7COpen+Sans");
/*

!!!!!!!!!! WARNING !!!!!!!!!!

If you edit theme.css, your changes will be overwritten by any compilation of theme.less
Please remember to replicate your changes in init.less, or just make your changes in another file if possible

!!!!!!!!!! WARNING !!!!!!!!!!

*/
/**
 *   Bigcommerce Blueprint with Less
 *   – For the Less variables and functions that you don't want available in the Style Editor, declare them in this file.
 */
/**
 *   Bigcommerce Blueprint with Less
 *
 *   For compatability with the Bigcommerce Style Editor:
 *    + Import your Google fonts first
 *
 *    + Declare your fonts for use in the editor by using '@font-declaration' (JSON format)
 *      eg @font-declaration: '{ "Open Sans":["Open Sans","Arial","sans-serif"], "Freckle Face":["Freckle Face","cursive"] }'
 *
 *    + Declare your color palette for use in the editor by using '@color-declaration'
 *      eg @color-declaration: '["#333", "#1399BE", "#EDEDED", "#FFF"]';
 *
 *    + Prefix fonts with '@font-' for the style editor to make it editable by the end user
 *
 *    + Prefix colors with '@color-' for the style editor to make it editable by the end user
 *
 *    + Prefix settings with '@setting-' for the style editor to make it adjustable by the end user
 */
/**
 *   Import Google Fonts
 */
/**
 *   Declarations
 */
/**
 *   Colors
 *   Prefix with '@color-'
 */
/**
 *   Fonts
 *   Prefix with '@font-'
 */
/**
 *   Settings
 *   Prefix with '@setting-'
 */
/**
 *   CSS Assignments
 */
/**
 *   Bigcommerce Blueprint
 *   Style Initialisation
 */
.SortBox,
.AddToWishlistLink .wishlist-button {
  color: #333333;
}
.TopMenu {

}
.TopMenu li {
  border-left: 1px solid #ccc;
}
.TopMenu a {

}
.TopMenu a:hover,.currency-converter p span {

}
.PageMenu .inner {
position:relative;
  background: url("https://cdn6.bigcommerce.com/r-7d6a638493d37a4bbc33fd4fe15b95d62daf0227/themes/Minimal/images/megnor/line.jpg") repeat-x scroll 0 bottom transparent;
 
}
.PageMenu li ul {
 background: none repeat scroll 0 0 #F4F4F4;
 
     margin-bottom: 0;
    padding: 5px;
}
.PageMenu li ul li a {
  color: #999999;
}
.PageMenu li ul:before {
  border-color: transparent transparent transparent transparent;
}
.header {
  background: #ffffff;
}
.page {
  background: #ffffff;
}
.footer-main {
}
.footer-links {
  
  padding-bottom:10px;

 background: none repeat scroll 0 0 #F9FAFA;
    border: 1px solid #EDEDED;
  
}
.footer-links a {

}
.footer-links a:hover {

}
.newsletter-subscription {

}
body,
input,
select,
textarea,
input.Textbox,
input[type="text"],
#SearchForm input,
.HorizontalFormContainer dd .selector span,
.fastCartTop div,
.list-icon li {
  color: #888;
}
#SearchForm .Button {

}
#ModalContent,
.ModalContent,
.CurrencyChooser a span {
  color: #888 !important;
}
a,#LayoutColumn2 .YourAccount .list a,#LayoutColumn2 .Breadcrumb li a,
.header-logo a,
.Left li li a,
.Left #SideCategoryList li a,
.Left .slist li a,p a,
.Left .afterSideShopByBrand a,
.Left #GiftCertificatesMenu li a,
.Left #SideAccountMenu li a,
.Left #SideCategoryList li li a,
.Left .slist li li a,
.TabNav li.Active a,
.ModalContent h4 a:hover,
.footer a:hover {
  color: #888;
}
.page-content #LayoutColumn2 a.pname,
#ModalContent a,
.ModalContent a,
.recaptchatable a {
  color: #888 !important;
}
.Left li a.active:hover {
  border-color: #333333;
}
.icon-add:hover {
  background-color: #ddd !important;
}
.multiStep li a {
  color: #737373;
}
.Left li a.active,.footer-main a:hover,
a:hover,
a.alt,
p a:hover,
a.NextLink,
.BulkDiscountLink a,

#LayoutColumn2 .Breadcrumb li a:hover,
.page-content #LayoutColumn2 a,
.Left #SideCategoryList li a:hover,
.Left .slist li a:hover,
.Left .afterSideShopByBrand a:hover,
.Left #GiftCertificatesMenu li a:hover,
.Left #SideAccountMenu li a:hover,
.PageMenu li ul li a:hover {
  color: #435531;
}
.recaptchatable a:hover,
.page-content #LayoutColumn2 a.pname:hover,
#ModalContent a:hover,
.ModalContent a:hover {
  color: #435531 !important;
}
a.alt:hover {

  color: #ffffff;
}
.multiStep li.ActivePage h4 {
  border-bottom: 4px solid #666;
}
.icon-add {
  background: #666 url("https://cdn6.bigcommerce.com/r-7d6a638493d37a4bbc33fd4fe15b95d62daf0227/themes/Minimal/images/add.png") no-repeat scroll 50% 50%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
 color: #666;
    font-family: 'oswald',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 8px;
    padding: 0px 0 5px;
    text-transform: capitalize;
}
h1,
.h1 {

}
.productOptionViewProductPickListWithImage td {
  border-bottom: 1px dotted #d9d9d9;
}
.TopMenu li.Flag img.Selected {
  border: 2px solid #d9d9d9;
}
.productOptionViewRectangle .option.selectedValue label {
  border: 1px solid #a6a6a6 !important;
}
.productOptionPickListSwatch .selectedValue .textureContainer,
.productOptionPickListSwatch .selectedValue .swatchColours {
  border: 1px solid #d9d9d9 !important;
  border-color: #333333 !important;
}
.productOptionPickListSwatch .textureContainer,
.productOptionPickListSwatch .swatchColours,
.productOptionViewRectangle .option label,
.recaptchatable #recaptcha_response_field,
.zoomWrapper,
#ProductDetails .ProductTinyImageList ul li.selected {
  border: 1px solid #d9d9d9 !important;
}
.CurrencyList dd,
#SearchForm .Button,
#SearchForm input.Textbox,
select,
hr,
input.Textbox,
textarea,
input[type="text"],
input[type="password"],
.QuickSearch,
.SharePublicWishList,
.ExpressCheckoutBlock .ExpressCheckoutTitle,
.HowToPay,
.NotifyMessage,
.QuickSearchResult .QuickSearchResultImage,
.CurrencyChooser,
.selected-currency,
div.uploader,
div.selector,
.recaptchatable { 
  border: 1px solid #E8E8E8;
}
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent,
div.uploader span.action {
 
}

.ProductList.List .block_hover { float:left;

}
ProductList.List .btn:hover { background:#b9ea81;}
.ProductList .btn { background:url("https://cdn6.bigcommerce.com/r-7d6a638493d37a4bbc33fd4fe15b95d62daf0227/themes/Minimal/images/megnor/cart1.png") no-repeat scroll 8px center #435531; padding:7px 10px 7px 40px; }
.ProductList .btn:hover  { background:url("https://cdn6.bigcommerce.com/r-7d6a638493d37a4bbc33fd4fe15b95d62daf0227/themes/Minimal/images/megnor/cart1.png") no-repeat scroll 8px  center #b9ea81; }
.btn {

        color: #FFFFFF;
        background: #435531; /* Old browsers */
       
 
}
.btn:hover {
   background: none repeat scroll 0 0 #b9ea81; /* Old browsers */
       
        color: #fff;
}
.btn.alt {
 
  color: #ffffff;
}
a.btn.alt {
  color: #ffffff;
}
.btn.alt:hover {
 
}
.btn.text {
  color: #666666;
}
.TopMenu > .inner,
#Header > .inner,
.PageMenu > .inner,
.main > .inner,
.footer-main > .inner,
.footer-links > .inner{
  max-width: 1150px;
  width: 100%;
}
#home .ProductList li,
.productPage .ProductList li {
 width:25%;
}
/* --- Responsive --- */
/* 768px */
/* 600px */
@media screen and (max-width: 600px) {
  .BillingDetails,
  .ShippingDetails {
    border-top: 1px solid #d9d9d9;
  }
}
/* 480px */
@media screen and (max-width: 480px) {
  #cart-amount .Cart .total {
    background: #333333;
    color: #ffffff;
  }
  #cart-amount .Cart .bag-handle {
    border: 2px solid #333333;
  }
}
